<a href="https://colab.research.google.com/github/JonathanKayombo/Syntecxhub_House_Price_Prediction/blob/main/SyntecxHub_Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv(r"/content/drive/MyDrive/housing.csv")

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [ ]:
df.dropna(inplace= True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [ ]:
from sklearn.model_selection import train_test_split
x = df.drop(['median_house_value'], axis =1)
y = df['median_house_value']

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [ ]:
train_data = X_train.join(y_train)
train_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
10922,-117.90,33.73,30.0,746.0,172.0,1048.0,163.0,4.1000,<1H OCEAN,166400.0
18503,-122.03,37.18,10.0,212.0,38.0,78.0,21.0,6.0622,<1H OCEAN,390000.0
14969,-117.01,32.75,34.0,2105.0,340.0,973.0,357.0,4.3088,<1H OCEAN,152500.0
14562,-117.22,32.83,31.0,2558.0,512.0,1164.0,492.0,3.4318,NEAR OCEAN,200400.0
13985,-117.28,34.68,28.0,1932.0,421.0,1156.0,404.0,1.8958,INLAND,55600.0
...,...,...,...,...,...,...,...,...,...,...
17114,-122.16,37.47,44.0,2581.0,437.0,1006.0,414.0,5.3970,NEAR BAY,341700.0
58,-122.28,37.82,52.0,1387.0,341.0,1074.0,304.0,1.2171,NEAR BAY,80300.0
13948,-117.17,34.25,15.0,4236.0,753.0,703.0,255.0,3.5625,INLAND,165500.0
14346,-117.19,32.75,33.0,1115.0,316.0,583.0,269.0,2.5882,NEAR OCEAN,258300.0
3218,-119.68,36.32,26.0,592.0,121.0,268.0,116.0,1.7596,INLAND,120800.0

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

# Create a ColumnTransformer to apply OneHotEncoder to 'ocean_proximity'
# and pass through the remaining numerical columns.
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), ['ocean_proximity'])
    ],
    remainder='passthrough'
)

# Apply the preprocessor to X_train
X_train_processed = preprocessor.fit_transform(X_train)

print("X_train_processed shape:", X_train_processed.shape)

X_train_processed shape: (16346, 13)

Now that the categorical features in X_train have been processed using OneHotEncoder, the next logical step is to import and instantiate the LinearRegression model and then fit it to the processed training data (X_train_processed) and the target variable (y_train).

In [ ]:
from sklearn.linear_model import LinearRegression

# Instantiate a Linear Regression model
lin_reg = LinearRegression()

# Fit the model to the processed training data and target variable
lin_reg.fit(X_train_processed, y_train)

print("Linear Regression model trained successfully.")

Linear Regression model trained successfully.

To evaluate the model's performance, I need to preprocess the test data (`X_test`) using the same preprocessor fitted on the training data, then make predictions using the trained linear regression model, and finally calculate the RMSE and R2 scores.

In [ ]:
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score

# Apply the preprocessor to X_test
X_test_processed = preprocessor.transform(X_test)

# Make predictions on the processed test data
y_pred = lin_reg.predict(X_test_processed)

# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")

# Calculate R-squared (R2) score
r2 = r2_score(y_test, y_pred)
print(f"R-squared (R2) Score: {r2:.2f}")

Root Mean Squared Error (RMSE): 68399.51
R-squared (R2) Score: 0.65

To interpret the model's coefficients, I first need to extract the feature names in the correct order, considering the one-hot encoding applied to 'ocean_proximity' and the remaining numerical features from the `X_train` data, then create a DataFrame to store the coefficients and their corresponding feature names, sort them by absolute value, and finally print the result.

In [ ]:
import pandas as pd

# Get feature names for one-hot encoded categorical features
ocean_proximity_features = preprocessor.named_transformers_['cat'].get_feature_names_out(['ocean_proximity'])

# Get names of the remaining numerical features (these are the ones passed through by ColumnTransformer)
numerical_features = [col for col in X_train.columns if col != 'ocean_proximity']

# Combine all feature names in the correct order as they appear in X_train_processed
all_feature_names = list(ocean_proximity_features) + list(numerical_features)

# Create a DataFrame for coefficients
coefficients_df = pd.DataFrame({
    'Feature': all_feature_names,
    'Coefficient': lin_reg.coef_
})

# Sort coefficients by their absolute values to show importance
coefficients_df['Absolute_Coefficient'] = coefficients_df['Coefficient'].abs()
coefficients_df = coefficients_df.sort_values(by='Absolute_Coefficient', ascending=False)

print("Model Coefficients (sorted by absolute value):")
print(coefficients_df.drop(columns='Absolute_Coefficient'))

Model Coefficients (sorted by absolute value):
                       Feature    Coefficient
2       ocean_proximity_ISLAND  130211.283475
1       ocean_proximity_INLAND  -62593.595453
12               median_income   39775.666439
3     ocean_proximity_NEAR BAY  -26838.514307
5                    longitude  -25911.573050
6                     latitude  -24650.982428
0    ocean_proximity_<1H OCEAN  -22806.848319
4   ocean_proximity_NEAR OCEAN  -17972.325396
7           housing_median_age    1116.084309
9               total_bedrooms     102.192922
11                  households      47.830239
10                  population     -36.944585
8                  total_rooms      -6.716886

In [ ]:
import joblib

# Save the trained model to a file
joblib.dump(lin_reg, 'linear_regression_model.joblib')

print("Linear Regression model saved successfully as 'linear_regression_model.joblib'")

Linear Regression model saved successfully as 'linear_regression_model.joblib'

To save the trained Linear Regression model, I need to import the `joblib` library and then use its `dump` function to serialize the model object to a file.

In [ ]:
import pandas as pd

# 1. Select the first 5 rows from the original X_test DataFrame for example inputs
example_X = X_test.head(5)

# 2. Get the corresponding actual y_test values for these examples
example_y_actual = y_test.head(5)

# 3. Apply the preprocessor to the selected example inputs from X_test
example_X_processed = preprocessor.transform(example_X)

# 4. Use the trained lin_reg model to make predictions on the preprocessed example inputs
example_y_pred = lin_reg.predict(example_X_processed)

# 5. Create a pandas DataFrame to display the actual and predicted values side-by-side
predictions_df = pd.DataFrame({
    'Actual': example_y_actual.values,
    'Predicted': example_y_pred
})

# 6. Print the DataFrame containing the actual and predicted values
print("Example Predictions vs. Actual Values:")
print(predictions_df)

Example Predictions vs. Actual Values:
     Actual      Predicted
0  266600.0  274435.529403
1  244000.0  188920.726096
2  360400.0  298292.887453
3   91300.0  125467.992455
4  438100.0  369957.585373

To display example predictions, I will first select the first 5 rows from the original `X_test` DataFrame and the corresponding `y_test` values. Then, I will preprocess these selected examples using the previously fitted `preprocessor`, make predictions with the trained `lin_reg` model, and finally present the actual and predicted values in a readable DataFrame.